
body {
	width: 90%;
	margin: 2em auto;
	font-family: sans-serif;
}


.dropzone {
	width: 95%;
	height: 50px;
	border: 2px dashed #ccc;
	border-radius: 20px;
	padding: 2em;
	margin-bottom: 2em;
}

.dropzone.highlight {
	background-color: #f0f0f0;
}

.dropzone.dropped {
	background-color: #333;
	color: #fff;
}



.text {
	margin-top: 20px;
	font-size: 24px;
	font-family: 'ProofingFont';
}

